<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cmcc.dbi.mapper.impl.InceptionItemMapper">

    <select id = "addItem" parameterType="InspectionItem">
        insert into inspection_item (item_name)
        values (#{itemName})
    </select>

</mapper>